<div style="margin-top: 5%;">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>⬇️ &nbsp; <a
                        href="https://docs.google.com/viewerng/viewer?url={{ .Site.Params.resumePDF }}"
                        target="_blank" rel="noreferrer noopener">View PDF</a>
                </th>
                <th>🌎 &nbsp; <a href="{{ .Site.Params.resumeHTML }}" target="_blank" rel="noreferrer noopener">View
                        Online</a>
                </th>
                <th>💾 &nbsp; <a href="{{ .Site.Params.resumeSRC }}" target="_blank"
                        rel="noreferrer noopener">Source Code</a>
                </th>
            </tr>
        </thead>
    </table>
</div>